@import url('https://fonts.googleapis.com/css?family=Itim');
@import 'sub-css/sub.css';
@import 'sub-css/nested/lemon.css';
@import 'theme.css';

@font-face {
  font-family: 'Ostrich';
  src: url('./font/ostrich-sans-regular.ttf') format('TrueType');
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: url('./font/IBMPlexMono-Regular.otf') format('opentype');
}

.margin {
  margin: 20px;
}

body.bg {
  color: rgba(0, 0, 0, 1);
  background-image: url('./img/bg.jpg');
  font-family: 'Ostrich';
}
#test-text {
  font-family: 'Itim';
}

#butterfly {
  /* This shouldn't be translated */
  background-image: url('./test/path/monarch-butterfly.jpg');
  width: 300px;
  height: 274px;
  display: block;
}

#octopuss {
  background-image: url('/octopuss.jpg');
  width: 224px;
  height: 224px;
  display: block;
}

#font-awesome {
  margin: 5px;
  padding: 5px;
}

#dice {
  width: 300px;
  height: 300px;
  display: block;
}

#icon-snowflake {
  background-image: url('./fortawesome/icons/snowflake.svg');
  height: 1em;
  width: 1em;
}

/* Color scheme styles for testing */
#test-element {
  background-color: rgb(200, 200, 200);
}

@media (prefers-color-scheme: dark) {
  #test-element {
    background-color: rgb(30, 30, 30);
  }
}
