<!-- Using an absolute URL is a bad practice, but the nesting depth here makes it incovenient traverse up with ../.. -->
<link rel="import" href="/frontend/bower_components/polymer/polymer-element.html">
<link rel="import" href="/frontend/bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="clear-list">
    <template>
        <template is="dom-repeat" items="[[messages]]">
            <div class='msg' on-click="selectItem">[[item.text]]</div>
        </template>
        <button id="clearList" on-click="clearList">clearList</button>
    </template>
    <script>
        class ClearList extends Polymer.Element {
            static get is() {
                return 'clear-list'
            }
        }
        customElements.define(ClearList.is, ClearList);
    </script>
</dom-module>
