<!-- Using an absolute URL is a bad practice, but the nesting depth here makes it incovenient traverse up with ../.. -->
<link rel="import" href="/frontend/bower_components/polymer/polymer-element.html">
<link rel="import" href="/frontend/bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="/frontend/bower_components/polymer/lib/elements/dom-if.html">

<dom-module id="list-binding">
    <template>
        <template is="dom-repeat" items="[[messages]]">
            <div class='msg' on-click="selectItem">[[item.text]]</div>
        </template>
        <button id="reset" on-click="reset">reset</button>
        <button id="addElement" on-click="addElement">addElement</button>
        <button id="addElementByIndex" on-click="addElementByIndex">addElementByIndex</button>
        <button id="addNumerousElements" on-click="addNumerousElements">addNumerousElements</button>
        <button id="addNumerousElementsByIndex" on-click="addNumerousElementsByIndex">addNumerousElementsByIndex
        </button>
        <button id="clearList" on-click="clearList">clearList</button>
        <button id="removeSecondElementByIndex" on-click="removeSecondElementByIndex">removeSecondElementByIndex
        </button>
        <button id="removeFirstElementWithIterator" on-click="removeFirstElementWithIterator">
            removeFirstElementWithIterator
        </button>
        <button id="swapFirstAndSecond" on-click="swapFirstAndSecond">swapFirstAndSecond</button>
        <button id="sortDescending" on-click="sortDescending">sortDescending</button>
        <button id="setInitialStateToEachMessage" on-click="setInitialStateToEachMessage">setInitialStateToEachMessage
        </button>
        <template is="dom-if" if="[[selectedMessage]]">
            <div id="selection">Clicked message: [[selectedMessage.text]]</div>
        </template>
    </template>
    <script>
        class ListBinding extends Polymer.Element {
            static get is() {
                return 'list-binding'
            }
        }
        customElements.define(ListBinding.is, ListBinding);
    </script>
</dom-module>
