<!-- Using an absolute URL is a bad practice, but the nesting depth here makes it incovenient traverse up with ../.. -->
<link rel="import" href="/frontend/bower_components/polymer/polymer-element.html">
<link rel="import" href="/frontend/bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="/frontend/bower_components/polymer/lib/elements/dom-if.html">

<dom-module id="list-inside-list-binding">
    <template>
        <dom-repeat items="[[nestedMessages]]">
            <template>
                <div>
                    <template is="dom-repeat" items="[[item]]">
                        <div class='submsg' on-click="removeItem">[[item.text]]</div>
                    </template>
                </div>
            </template>
        </dom-repeat>
        <template is="dom-if" if="[[removedMessage]]">
            <div id="removedMessage">Removed message: [[removedMessage.text]]</div>
        </template>
        <button id="reset" on-click="reset">reset</button>
        <button id="updateAllElements" on-click="updateAllElements">updateAllElements</button>
    </template>
    <script>
        class ListInsideListBinding extends Polymer.Element {
            static get is() {
                return 'list-inside-list-binding'
            }
        }
        customElements.define(ListInsideListBinding.is, ListInsideListBinding);
    </script>
</dom-module>
