<!-- Using an absolute URL is a bad practice, but the nesting depth here makes it incovenient traverse up with ../.. -->
<link rel="import" href="/frontend/bower_components/polymer/polymer-element.html">

<dom-module id="server-model-null-list">
    <template>
        This custom element has a corresponding server model with List property that is never changed.
    </template>

    <script>
      class ServerModelNullList extends Polymer.Element {
        static get is() { return 'server-model-null-list'; }
      }

      window.customElements.define(ServerModelNullList.is, ServerModelNullList);
    </script>
</dom-module>
