<!-- Using an absolute URL is a bad practice, but the nesting depth here makes it incovenient traverse up with ../.. -->
<link rel="import" href="/frontend/bower_components/polymer/polymer-element.html">
<link rel="import" href="/frontend/bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="/frontend/bower_components/polymer/lib/elements/dom-if.html">

<dom-module id="two-way-list-binding">
    <template>
     <div>
        <template is="dom-if" if="[[enable]]">
            <template is="dom-repeat" items="[[messages]]" as="message">
            <input id="input" value="{{message.text::input}}" on-change="valueUpdated">
            </template>
        </template>
        <slot></slot>
        </div>
    </template>
    <script>
        class TwoWayListBinding extends Polymer.Element {
            static get is() {
                return 'two-way-list-binding'
            }
        }
        customElements.define(TwoWayListBinding.is, TwoWayListBinding);
    </script>
</dom-module>
