/**
 *
 *
 *
 * @group orderedlayout
 */
@mixin valo-orderedlayout {

  .layout {
  	box-sizing: border-box;
  }

  .layout.vertical.spacing > * {
    margin-top: $v-layout-spacing-vertical;
  }

  .layout.vertical.spacing > *:first-child {
    margin-top: 0;
  }

  .layout.horizontal.spacing > * {
    margin-left: $v-layout-spacing-horizontal;
  }

  .layout.horizontal.spacing > *:first-child {
    margin-left: 0;
  }

  .layout.margin {
    padding-top: $v-layout-margin-top;
    padding-bottom: $v-layout-margin-bottom;
    padding-right: $v-layout-margin-right;
    padding-left: $v-layout-margin-left;
  }

  .layout.flex-children > * {
      -ms-flex: 1;
      -webkit-flex: 1;
      flex: 1;
     
  }
}

