/**
 *
 *
 *
 * @group orderedlayout
 */
@mixin valo-orderedlayout-global {

  .layout {
  	box-sizing: border-box;
  }

  .layout.vertical.spacing > * {
    margin-top: $v-layout-spacing-vertical;
  }

  .layout.vertical.spacing > *:first-child {
    margin-top: 0;
  }

  .layout.horizontal.spacing > * {
    margin-left: $v-layout-spacing-horizontal;
  }

  .layout.horizontal.spacing > *:first-child {
    margin-left: 0;
  }

  .layout.margin {
    padding-top: $v-layout-margin-top;
    padding-bottom: $v-layout-margin-bottom;
    padding-right: $v-layout-margin-right;
    padding-left: $v-layout-margin-left;
  }

  .layout.flex-children > * {
      -ms-flex: 1;
      -webkit-flex: 1;
      flex: 1;
     
  }
}

/**
 *
 *
 * @param {bool} $include-additional-styles - 
 *
 * @group orderedlayout
 */
@mixin valo-orderedlayout ($include-additional-styles: contains($v-included-additional-styles, orderedlayout) or contains($v-included-additional-styles, verticallayout) or contains($v-included-additional-styles, horizontallayout)) {

  @if $include-additional-styles {
    .v-verticallayout-well,
    .v-horizontallayout-well {
      @include valo-panel-well-style;
      @include valo-panel-adjust-content-margins;
    }

    .v-verticallayout-card,
    .v-horizontallayout-card {
      @include valo-panel-style;
      @include valo-panel-adjust-content-margins;
    }

    .v-horizontallayout-wrapping {
      @include valo-horizontallayout-wrapping-style;
    }
  }

}


/**
 *
 *
 *
 * @group orderedlayout
 */
@mixin valo-horizontallayout-wrapping-style {
    white-space: normal !important;

    & > .v-spacing + .v-slot,
    & > .v-slot:first-child {
      margin-bottom: $v-layout-spacing-vertical;
    }

    & > .v-slot:first-child:last-child {
      margin-bottom: 0;
    }
}
