html {
  --theme-my-theme-loaded: 1;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Roboto-Regular.woff') format('woff');
}

body {
  font-family: 'Roboto';
  background-image: url('./images/bg.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

#outlet {
  box-sizing: border-box;
  padding: var(--lumo-space-xl);
}

h1 {
  margin: 0 0 var(--lumo-space-xl);
}
