@import url('./imported.css');

@font-face {
  font-family: 'Ostrich';
  src: url('./fonts/ostrich-sans-regular.ttf') format('TrueType');
}

html > body {
  background: rgba(255, 0, 0, 1);
  font-family: 'Ostrich';
}

body {
  --my-theme-marker: 1;
}
