.flex {
  flex: 1;
}

#edit {
  padding: 50px;
  font-family: arial;
  background-color: #fafafa;
  min-height: 100%;
}

#dialog {
  padding: 10px 30px;
  border-top: 3px solid #ff3a39;
  width: 60vw;
  background:  #FFFFFF;
  display: flex;
  flex-direction: column;
  margin: auto;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

#edit #receipt {
  flex: 3;
  margin: 24px;
  height: 100%;
}

#edit #receipt .receipt-wrapper {
  max-width: 100%;
  display: block;
  margin: 20px auto;
}

#edit .receipt-wrapper img {
  width: 95%;
}

#edit .file-list {
  max-height: 430px;
  overflow: auto;
}

#edit paper-button[hidden] {
  display: none;
}

#edit div[prefix] {
  margin-right: 6px;
}

#edit #error {
  color: red;
  padding: 20px;
}

#edit .main-layout  {
  display: flex;
  flex-direction: row;
}
#edit .main-layout h2 {
  font-size: 24px !important;
  font-weight: 300 !important;
}
#edit .buttons-layout {
  display: flex;
  flex-direction: row;
  margin-top: 32px;
}
#edit .buttons-layout paper-button {
  width: 150px;
}

#edit .save-button,
#edit #receipt paper-button {
  background: #00b4f0 !important;
  color: #FFFFFF !important;
}
#edit .cancel-button {
  color: #00b4f0;
}
