@import url("filters-toolbar.css");
@import url("history-panel.css");

body {
    font-family: arial;
}
.overview-page, .content, vaadin-grid {
    height: 100%;
}
paper-toolbar h1 {
    font-weight: 300;
    font-size: 24px;
}
paper-toolbar .logo {
    color: var(--default-primary-color);
    margin-left: 16px;
}
.overview-page .flex {
    flex: 1;
}
.overview-page .content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}
@media (min-width: 900px) {
    .overview-page .content {
        /* Make room for filters panel on the left. */
        padding-left: 308px;
        padding-right: 298px;
    }
}
@media (max-width: 1124px) {
    .overview-page .content {
        padding-right: 0;
    }
}
.overview-page #content-panel {
    flex: 1;
}
.overview-page #sync {
    margin-left: 8px;
    animation: spin 0.8s linear infinite;
}
.overview-page #sync[hidden] {
    display: none;
    animation: none;
}
@keyframes spin {
    100% {
        transform: rotate(-360deg);
    }
}
@media (max-width: 600px) {
    .overview-page paper-toolbar h1 {
        font-size: 20px;
    }
}
.content-panel {
    display: flex;
    flex: 1;
}
.content-panel #list {
    flex: 1;
}
.content-panel #history-panel {
    border-left: 1px solid #ddd;
    width: 250px;
    box-shadow: rgba(0, 0, 0, 0.2) 6px 0px 16px -10px inset;
    z-index: 1;
}
@media (max-width: 1124px) {
    .content-panel #history-panel {
        width: auto;
        position: absolute;
        bottom: 0;
        left: 308px;
        right: 0;
        border: none;
        height: 250px;
        padding: 20px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 16px -10px inset;
    }
    .content-panel #list {
        margin-bottom: 290px;
    }
}
@media (min-width: 1125px) {
    .content-panel #history-panel {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
    }
}
@media (max-width: 900px) {
    .content-panel #history-panel {
        display: none;
    }
    .content-panel #list {
        margin-bottom: 0;
    }
}
#add-button {
    position: absolute;
    right: 32px;
    bottom: 32px;
    z-index: 2;
}
#expenses {
    flex: 1;
    color: rgba(0, 0, 0, 0.87);
}
#expenses /deep/ thead.vaadin-grid-header {
    box-shadow: 0 -9px 2px 10px rgba(0, 0, 0, 0.1), 0 -8px 3px 10px rgba(204, 204, 204, 0.20);
}
#expenses /deep/ thead.vaadin-grid-header th {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.87);
}
vaadin-grid /deep/ .total {
    flex-direction: row-reverse;
}
vaadin-grid /deep/ td span {
    font-weight: 500;
    text-transform: capitalize;
}
vaadin-grid /deep/ td span.new {
    color: #ff3a39;
}
vaadin-grid /deep/ td span.in-progress {
    font-style: italic;
    font-weight: bold;
}
vaadin-grid /deep/ td span.reimbursed {
    color: green;
}
vaadin-grid /deep/ td.comment {
    position: relative;
}
vaadin-grid /deep/ td button {
    margin-left: -20px;
}
vaadin-grid /deep/ td.comment span {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 35px;
    box-sizing: border-box;
}
#expenses /deep/ .vaadin-grid-header [class*="sort-"]:after {
    content: "";
    border-width: 5px;
    border-style: solid;
    border-color: transparent;
    width: 0;
    padding: 0;
    min-width: 0;
    margin: 0 10px;
}
#expenses /deep/ .vaadin-grid-header.vaadin-grid .sort-desc.vaadin-grid:after {
    border-top-color: #ff3a39;
    transform: translateY(25%);
}
#expenses /deep/ .vaadin-grid-header.vaadin-grid .sort-asc.vaadin-grid:after {
    border-bottom-color: #ff3a39;
    transform: translateY(-25%);
}
