.idea
**/.settings
**/target
*.iml
*.project
*.factorypath
*.classpath
.vscode
.settings
**/frontend/generated/
**/src/main/frontend/index.html
**/src/main/bundles/
**/node_modules/
*.npmrc
*package.json
*pnpm-lock.yaml
*pnpmfile.js
*tsconfig.json
*types.d.ts
*webpack.*.js
vite.generated.ts

/integration-tests/driver/
/integration-tests/driver_zips/
