[submodule "vaadin-grid-flow"]
	path = vaadin-grid-flow
	url = git@github.com:vaadin/vaadin-grid-flow.git
	branch = feature/dataprovider
[submodule "vaadin-combo-box-flow"]
	path = vaadin-combo-box-flow
	url = git@github.com:vaadin/vaadin-combo-box-flow.git
	branch = feature/dataprovider
[submodule "vaadin-checkbox-flow"]
	path = vaadin-checkbox-flow
	url = git@github.com:vaadin/vaadin-checkbox-flow.git
	branch = feature/dataprovider
[submodule "vaadin-select-flow"]
	path = vaadin-select-flow
	url = git@github.com:vaadin/vaadin-select-flow.git
	branch = feature/dataprovider
