
# /
.classpath
*.project
*.settings
/.cvsignore
/.tomcatplugin
/work
/.gwt-cache
/.externalToolBuilders
/extras
**/bin
*~

*pom.xml.versionsBackup

**/target
**/error-screenshots
# Mac
*.DS_Store

# Python
scripts/*.pyc

# Intellij Idea files
.idea
*.iml

# Selenium driver folders
selenium_standalone_zips
driver_zips
driver

bower_components
node
node_modules
/frontend
*/flow-*/frontend
package.json
package-lock.json
webpack.config.js
**/webpack.generated.js
