
# /
.classpath
*.project
*.settings
/.cvsignore
/.tomcatplugin
/work
/.gwt-cache
/.externalToolBuilders
/extras
**/bin
*~

*pom.xml.versionsBackup

**/target
**/error-screenshots

**/.sts4-cache/*
.factorypath

# Mac
*.DS_Store

# Python
scripts/*.pyc

# Intellij Idea files
.idea
*.iml

# VS Code
.vscode

# Selenium driver folders
selenium_standalone_zips
driver_zips
driver

bower_components
node
node_modules
/frontend
*/flow-*/frontend
package-lock.json
**/webpack.generated.js

flow-tests/**/package.json
flow-tests/**/webpack*.js
flow-tests/**/tsconfig.json
flow-tests/**/pnpm-lock.yaml
flow-tests/**/index.html
flow-tests/test-commercial-banner/flow-application/src/main/frontend/**
yarn.lock

flow-client/src/main/frontend/FlowClient.js
flow-tests/**/types.d.ts
flow-tests/**/*.generated.js
flow-tests/**/*.generated.ts
flow-tests/**/vite.config.ts
flow-tests/**/generated/**
flow-tests/**/pnpmfile.js
flow-tests/**/.pnpmfile.cjs
flow-tests/**/*.npmrc

*.xml.versionsBackup

flow-polymer2lit/**/frontend/generated
flow-tests/test-express-build/test-dev-bundle-frontend-add-on/src/main/bundles
flow-tests/test-express-build/frontend-add-on/src/main/bundles
flow-tests/test-express-build/test-dev-bundle/src/main/bundles
flow-tests/test-express-build/test-theme-dev-bundle/src/main/bundles
flow-tests/test-express-build/test-reusing-theme-express-build/src/main/bundles
flow-tests/test-express-build/test-parent-theme-express-build/src/main/bundles
flow-tests/test-express-build/test-embedding-express-build/src/main/bundles
flow-tests/test-express-build/test-prod-bundle/src/main/bundles
flow-tests/test-ccdm-flow-navigation/src/main/bundles/
flow-tests/test-ccdm/src/main/bundles/
flow-tests/test-custom-route-registry/src/main/bundles/
flow-tests/test-frontend/vite-context-path/src/main/bundles/
flow-tests/test-frontend/vite-production/src/main/bundles/
flow-tests/test-misc/src/main/bundles/
flow-tests/test-multi-war/test-war1/src/main/bundles/
flow-tests/test-multi-war/test-war2/src/main/bundles/
flow-tests/test-no-theme/src/main/bundles/
flow-tests/test-npm-only-features/test-npm-bytecode-scanning/src/main/bundles/
flow-tests/test-npm-only-features/test-npm-general/src/main/bundles/
flow-tests/test-pwa-disabled-offline/src/main/bundles/
flow-tests/test-pwa/src/main/bundles/
flow-tests/test-root-context/src/main/bundles/
flow-tests/test-theme-no-polymer/src/main/bundles/
flow-tests/test-themes/src/main/bundles/

.vaadin-node-tasks.lock

# Exclude generated vaadin dev tools frontend
vaadin-dev-server/src/main/resources/META-INF/frontend
vaadin-dev-server/src/main/resources/META-INF/metadata

/flow-tests/**/frontend/routes.tsx
flow-tests/**/src/main/bundles/*
