<div>
	<button id="add" (click)="$server.add()">Add item</button>
	<button id="remove" (click)="$server.remove()">Remove item</button>
	<button id="update" (click)="$server.update()">Update item</button>
	<div (click)="itemLog.textContent='Clicked on: '+$element.textContent"
		class="item" *ngFor="let item of items">{{item.text}}</div>
	<div id="itemLog"></div>
	<hr>
	<div class="item-again" *ngFor="let item of items">
		<span
			(click)="itemAgainLog.textContent='Clicked on: '+$element.textContent">{{item.text}}</span>
	</div>
	<div id="itemAgainLog"></div>
	<hr>
</div>
