<div>
	<table> 
		<tr>
			<th colspan=2>Integers in model</th>
		</tr>
		<tr [attr.bound]="intZero">
			<td>Int Zero</td>
			<td id="intZero">{{intZero}}</td>
		</tr>
		<tr [attr.bound]="intMin">
			<td>Int Min</td>
			<td id="intMin">{{intMin}}</td>
		</tr>
		<tr [attr.bound]="intMax">
			<td>Int Max</td>
			<td id="intMax">{{intMax}}</td>
		</tr>
		<tr>
			<th colspan=2>Doubles in model</th>
		</tr>
		<tr [attr.bound]="doubleZero">
			<td>Double Zero</td>
			<td id="">{{doubleZero}}</td>
		</tr>
		<tr [attr.bound]="doubleHalf">
			<td>Double Half</td>
			<td id="doubleHalf">{{doubleHalf}}</td>
		</tr>
		<tr [attr.bound]="doubleLarge">
			<td>Double Large</td>
			<td id="doubleLarge">{{doubleLarge}}</td>
		</tr>
		<tr [attr.bound]="doubleSmall">
			<td>Double Small</td>
			<td id="doubleSmall">{{doubleSmall}}</td>
		</tr>
		<tr [attr.bound]="doubleSemiLarge">
			<td>Double SemiLarge</td>
			<td id="doubleSemiLarge">{{doubleSemiLarge}}</td>
		</tr>
		<tr [attr.bound]="doubleSemiSmall">
			<td>Double SemiSmall</td>
			<td id="doubleSemiSmall">{{doubleSemiSmall}}</td>
		</tr>
		<tr [attr.bound]="doubleMax">
			<td>Double Max</td>
			<td id="doubleMax">{{doubleMax}}</td>
		</tr>
		<tr [attr.bound]="doubleMin">
			<td>Double Min</td>
			<td id="doubleMin">{{doubleMin}}</td>
		</tr>
		<tr [attr.bound]="doubleMinPlus">
			<td>Double MinPlus</td>
			<td id="doubleMinPlus">{{doubleMinPlus}}</td>
		</tr>
		<tr>
			<th colspan=2>Special doubles inline in template</th>
		</tr>
		<tr [attr.bound]="doubleNaN">
			<td>Double NaN</td>
			<!--  Must include "+" so that legacy logic doesn't interpret this as a model path -->
			<td id="doubleNaN">{{+NaN}}</td>
		</tr>
		<tr [attr.bound]="doublePosInf">
			<td>Double PosInf</td>
			<!--  Must include "+" so that legacy logic doesn't interpret this as a model path -->
			<td id="doublePosInf">{{+Infinity}}</td>
		</tr>
		<tr [attr.bound]="doubleNegInf">
			<td>Double NegInf</td>
			<td id="doubleNegInf">{{-Infinity}}</td>
		</tr>
	</table>
</div>
