#history-panel {
  background: #f8f9f9;
  padding: 20px 24px;
}

#history-panel vaadin-bar-chart,
#history-panel vaadin-column-chart {
  display: none;
}

#history-panel .chart-title {
  font-weight: 400;
  font-size: 13px;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
  padding-bottom: 6px;
  margin-bottom: 18px;
  margin-top: 4px;
  color: rgba(0, 0, 0, 0.54);
}

@media (min-width: 601px) {
  #history-panel vaadin-column-chart {
    display: block;
  }
}

@media (min-width: 1125px) {
  #history-panel vaadin-column-chart {
    display: none;
  }

  #history-panel vaadin-bar-chart {
    display: block;
  }
  
  #history-panel .chart-title {
  	margin-top: 200px;
  }
}