body {
    font-family: arial;
}
.login-page {
    background: #33383a;
    min-height: 400px;
    position: fixed;
    width: 100%;
    height: 100%;
}
.login paper-input {
    width: 100%;
    --paper-input-container-input-color: #FFFFFF;
    --paper-input-container-underline: {
        background: rgba(255, 255, 255, 0.2);
    };
}
#login-button {
    margin: 20px 0 0 0;
    padding-left: 30px;
    padding-right: 30px;
    background: #00b4f0;
    color: #FFFFFF;
}
.error-message {
    color: red;
}
.header {
    height: 36%;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-end;
    margin: 0 !important;
    padding: 0 !important;
}
.header::after {
    content: "";
    position: absolute;
    width: 100%;
    top: 36%;
    border-bottom: 2px solid #ff3a39;
}
.header h1 {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 300;
    margin: 0 auto 16px;
    width: 300px;
}
.login {
    width: 300px;
    margin: 16px auto;
}
#login-footer {
    font-size: 14px;
    background: #3d4446;
    padding: 14px 26px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    position: absolute;
    bottom: 0;
    color: #FFFFFF;
}
#login-footer a {
    text-decoration: none;
    color: #00b4f0;
}
