<link rel="import" href="/v2/bower_components/polymer/polymer.html">

<dom-module id="list-binding">
    <template>
    <dom-repeat items="[[messages]]">
      <template><div class='msg'>[[item.text]]</div></template>
    </dom-repeat>
    <button id="update" on-click="update">Update</button>
    <button id="addElement" on-click="addElement">addElement</button>
    <button id="swapFirstAndLast" on-click="swapFirstAndLast">swapFirstAndLast</button>
    <button id="addElementByIndex" on-click="addElementByIndex">addElementByIndex</button>
        <button id="addNumerousElements" on-click="addNumerousElements">addNumerousElements</button>
        <button id="addNumerousElementsByIndex" on-click="addNumerousElementsByIndex">addNumerousElementsByIndex</button>
    <button id="clearList" on-click="clearList">clearList</button>
    <button id="removeElementByIndex" on-click="removeElementByIndex">removeElementByIndex</button>
    <button id="removeElementViaIterator" on-click="removeElementViaIterator">removeElementViaIterator</button>
    <button id="sortAlphabetically" on-click="sortAlphabetically">sortAlphabetically</button>
  </template>
  <script>
    class ListBinding extends Polymer.Element {
      static get is() { return 'list-binding' }
    }
    customElements.define(ListBinding.is, ListBinding);
  </script>
</dom-module>
