<div>
	<div id="root">
		<strong>Default in model root</strong>
		<div>booleanValue: {{booleanValue}}</div>
		<div>booleanObject: {{booleanObject}}</div>
		<div>intValue: {{intValue}}</div>
		<div>intObject: {{intObject}}</div>
		<div>doubleValue: {{doubleValue}}</div>
		<div>doubleObject: {{doubleObject}}</div>
		<div>string: {{string}}</div>
		<div>person.age: {{person?person.age:"&lt;undefined&gt;"}}</div>
		<div>definedPerson.age: {{definedPerson.age}}</div>
	</div>
	<hr>
	<div id="bean">
		<strong>Default values in bean</strong>
		<div>booleanValue: {{defaultsInBean.booleanValue}}</div>
		<div>booleanObject: {{defaultsInBean.booleanObject}}</div>
		<div>intValue: {{defaultsInBean.intValue}}</div>
		<div>intObject: {{defaultsInBean.intObject}}</div>
		<div>doubleValue: {{defaultsInBean.doubleValue}}</div>
		<div>doubleObject: {{defaultsInBean.doubleObject}}</div>
		<div>string: {{defaultsInBean.string}}</div>
		<div>person.age:
			{{defaultsInBean.person?defaultsInBean.person.age:"&lt;undefined&gt;"}}</div>
		<div>definedPerson.age: {{defaultsInBean.definedPerson.age}}</div>
	</div>
</div>
