{{!
    Copyright (C) 2000-2026 Vaadin Ltd

    This program is available under Vaadin Commercial License and Service Terms.

    See <https://vaadin.com/commercial-license-and-service-terms> for the full
    license.
}}
/*
 * Copyright (C) 2000-2026 Vaadin Ltd
 *
 * This program is available under Vaadin Commercial License and Service Terms.
 *
 * See <https://vaadin.com/commercial-license-and-service-terms> for the full
 * license.
 */
package {{packages}};

import com.vaadin.componentfactory.addons.inputmask.InputMask;
import com.vaadin.componentfactory.Autocomplete;
import com.vaadin.componentfactory.IdleNotification;
import com.vaadin.componentfactory.lookupfield.LookupField;
import com.vaadin.componentfactory.ToggleButton;
import com.vaadin.flow.component.orderedlayout.VerticalLayout;
import com.vaadin.flow.component.textfield.TextField;
import com.vaadin.flow.data.provider.DataProvider;
import com.vaadin.flow.router.Route;
import java.util.List;

@Route("addons")
public class AddonsRoute extends VerticalLayout {

    public AddonsRoute() {
        add(new Autocomplete(5));

        var lookupField = new LookupField<String>();
        lookupField.setDataProvider(DataProvider.ofCollection(List.of()));
        add(lookupField);

        add(new IdleNotification());

        TextField phoneField = new TextField("Phone");
        new InputMask("(000) 000-0000").extend(phoneField);
        add(phoneField);

        add(new ToggleButton());
    }
}