import { LitElement, html } from 'lit';

export class {{name}} extends LitElement {
  render() {
    return html`<span>This is the {{tag}} web-component from frontend/generated-js</span>`;
  }
}

customElements.define('{{tag}}', {{name}});
