{{!
    Copyright (C) 2000-2026 Vaadin Ltd

    This program is available under Vaadin Commercial License and Service Terms.

    See <https://vaadin.com/commercial-license-and-service-terms> for the full
    license.
}}
import { LitElement, html } from 'lit';

export class {{name}} extends LitElement {
  render() {
    return html`<span>This is the {{tag}} web-component from frontend/generated-js</span>`;
  }
}

customElements.define('{{tag}}', {{name}});
