{{!
    Copyright (C) 2000-2026 Vaadin Ltd

    This program is available under Vaadin Commercial License and Service Terms.

    See <https://vaadin.com/commercial-license-and-service-terms> for the full
    license.
}}
/*
 * Copyright (C) 2000-2026 Vaadin Ltd
 *
 * This program is available under Vaadin Commercial License and Service Terms.
 *
 * See <https://vaadin.com/commercial-license-and-service-terms> for the full
 * license.
 */
package {{packages}};

import org.springframework.stereotype.Component;
import org.springframework.context.annotation.Scope;

@Component
@Scope("{{scope}}")
public class {{className}} {

}