<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <title>Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
    Greetings from Spring Boot!
    <br/>
    <br/>
    <button id="start-button" onclick="onStart()">Click to Start</button>
    <br/>
    <span id="result"></span>
    <br/>
    <br/>
    <span id="log"></span>

    <script src="/benchmark.js"></script>
    <script>
        function onStart() {
            document.getElementById("result").hidden = true;
            console.log('Benchmark started.');
            window.benchmark.start();

            fetch("/start", {
            method: "POST"
            })
            .then((json) => {
                let waituntilReady;
                waituntilReady = () => {
                    document.getElementById("log").textContent = "Waiting page reload...";
                    setTimeout(() => {
                        fetch("/isready", { method: "GET" })
                        .then(response => response.text())
                        .then((res) => {
                            if(res === "true") {
                                document.getElementById("log").textContent = "Reloading page.";
                                try {
                                    window.location.reload();
                                } catch(error) {
                                    document.getElementById("log").textContent = error;
                                }
                            } else {
                                waituntilReady();
                            }
                        });
                    }, 20);
                };
                waituntilReady();
            });
        }

        document.getElementById("start-button").addEventListener("componentready", event => {
            console.log("componentready: " + event.detail.result);
            document.getElementById("result").textContent = "Reload time by class change was [" + event.detail.result + "] ms";
            document.getElementById("result").hidden = false;
        });
        window.benchmark.measureRender(document.getElementById("start-button"));
    </script>
</body>
</html>