{{#each imports}}
import {{~#importAs}} {{importAs}}{{/importAs}}{{~^importAs}} {{className}}{{/importAs}} from '{{importPath}}';
{{/each}}

{{#models}}
{{#model}}
{{#unescapedDescription}}
/**
{{#multiplelines unescapedDescription}}
 * {{{@line}}}
{{/multiplelines}}
 */
{{/unescapedDescription}}
export default interface {{{getClassNameFromImports classname ../../imports}}} {{~#parentSchema}} extends {{{getClassNameFromImports parentSchema ../../imports}}}{{/parentSchema}} {
{{#vars}}
{{#unescapedDescription}}
  /**{{#multiplelines unescapedDescription}}
   * {{{@line}}}{{/multiplelines}}
   */
{{/unescapedDescription}}
  {{name}}{{^required}}?{{/required}}: {{{getClassNameFromImports datatype ../../../imports}}};
{{/vars}}
}
{{/model}}
{{/models}}
