<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="frontend-existing-element">
    <template>
        <div>
            <input id="input" on-change="valueChange">
            <div>
                <label id="label"></label>
            </div>
        </div>
        <button on-click="clear" id="button">Clear</button>
    </template>

    <script>
        class FrontendExistingElement extends Polymer.Element {
            static get is() {
                return 'frontend-existing-element'
            }
        }
        customElements.define(FrontendExistingElement.is, FrontendExistingElement);
    </script>
</dom-module>
