<!-- Using an absolute URL is a bad practice, but the inlining makes it incovenient traverse up with ../.. -->
<link rel="import" href="/frontend/bower_components/polymer/polymer-element.html">

<dom-module id="frontend-inline">
  <template>
    <div id="frontend-inline">Inline HTML loaded via frontent protocol</div>
  </template>
  <script>
    class FrontendInline extends Polymer.Element {
      static get is() { return 'frontend-inline' }
    }
    customElements.define(FrontendInline.is, FrontendInline);
  </script>
</dom-module>
