@import url('https://fonts.googleapis.com/css?family=Itim');

:host {
  width: 1200px;
  height: 600px;
  display: block;
  background-image: url('./img/bg.jpg');
}

span {
  font-family: 'Ostrich';
}

.internal {
  color: green;
}

vaadin-text-field::part(input-field) {
  background: red;
}
