<!-- Using an absolute URL is a bad practice, but the nesting depth here makes it incovenient traverse up with ../.. -->
<link rel="import" href="/frontend/bower_components/polymer/polymer-element.html">

<dom-module id="existing-element">
    <template>
        <div>
            <input id="input" on-change="valueChange">
            <div>
                <label id="label"></label>
            </div>
        </div>
        <button on-click="clear" id="button">Clear</button>
    </template>

    <script>
        class ExistingElement extends Polymer.Element {
            static get is() {
                return 'existing-element'
            }
        }
        customElements.define(ExistingElement.is, ExistingElement);
    </script>
</dom-module>
