<!-- Using an absolute URL is a bad practice, but the nesting depth here makes it incovenient traverse up with ../.. -->
<link rel="import" href="/frontend/bower_components/polymer/polymer-element.html">
<link rel="import" href="/frontend/bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="empty-list">
    <template>
        <ul>
            <template is="dom-repeat" items="[[items]]">
                <li class="item">[[item.label]]</li>
            </template>
        </ul>
    </template>
    <script>
        class EmptyList extends Polymer.Element {
            static get is() {
                return 'empty-list'
            }
        }
        customElements.define(EmptyList.is, EmptyList);
    </script>
</dom-module>
