<!-- Using an absolute URL is a bad practice, but the nesting depth here makes it incovenient traverse up with ../.. -->
<link rel="import" href="/frontend/bower_components/polymer/polymer-element.html">

<dom-module id="event-handler">
    <template>
        <button on-click="handleClick" id="handle">Click me</button>
        <button on-click="sendData" id="send">Send event data to the server</button>
        <button on-click="overriddenClick" id="overridden">Client and server event</button>
        <button on-click="clientHandler" id="client">Delegate via the $server</button>
        <button on-click="clientHandlerError" id="clientError">Delegate via the $server and throw</button>
        <span id="status">[[status]]</span>
    </template>
    <script>
        class EventHandler extends Polymer.Element {
            static get is() {
                return 'event-handler'
            }

            overriddenClick(event) {
                var event = event || window.event;
                event.result = "ClientSide handler";
            }

            async clientHandler() {
                this.status = "Waiting"
            	
                const msg = "foo";
                const enabled = true;
                let result = await this.$server.handleClientCall(msg, enabled);
                this.status = result;
            }
            
            async clientHandlerError() {
                this.status = "Waiting"
                    
                const msg = "foo";
                const enabled = false;
                try {
                    await this.$server.handleClientCall(msg, enabled);
                } catch (error) {
                    this.status = error;
                }
            }            
        }
        customElements.define(EventHandler.is, EventHandler);
    </script>
</dom-module>
