<!-- Using an absolute URL is a bad practice, but the nesting depth here makes it incovenient traverse up with ../.. -->
<link rel="import" href="/frontend/bower_components/polymer/polymer-element.html">

<dom-module id="router-link">
  <template>
    <input id="input">

    <a router-link href="com.vaadin.flow.uitest.ui.template.RouterLinksTemplate" id="navigate-link">Navigate</a>
  </template>

  <script>
    class Router extends Polymer.Element {
      static get is() { return 'router-link' }
    }
    customElements.define(Router.is, Router);
  </script>
</dom-module>
