<link rel="import" href="/frontend/bower_components/polymer/polymer-element.html">

<dom-module id="template-scalability-panel">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
            }
        </style>

        <button id="ack-btn"></button>
    </template>

    <script>
      class TemplateScalabilityPanel extends Polymer.Element {
        static get is() {
          return 'template-scalability-panel';
        }

        static get properties() {
          return {
// Declare your properties here.
          };
        }
      }

      customElements.define(TemplateScalabilityPanel.is, TemplateScalabilityPanel);
    </script>
</dom-module>
