@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Oswald') screen and (orientation: landscape);

@import url('docImport.css');

@font-face {
  font-family: 'Ostrich';
  src: url('./font/ostrich-sans-regular.ttf') format('TrueType');
}
