@import 'sub-css/sub.css';

@font-face {
    font-family: "Ostrich";
    src: url("./font/ostrich-sans-regular.ttf") format("TrueType");
}

body {
    background-image: url("./img/bg.jpg");
    font-family: "Ostrich";
}
