@font-face {
    font-family: "Ostrich";
    src: url("theme/app-theme/font/ostrich-sans-regular.ttf") format("TrueType");
}

body {
    background-image: url('theme/app-theme/img/bg.jpg');
    font-family: "Ostrich";
}
