@import 'sub-css/sub.css';

/* Font URL with no special characters */
@font-face {
    font-family: "Ostrich";
    src: url(./font/ostrich-sans-regular.ttf) format("TrueType");
}

/* Font URL with whitespace character & query parameter & single quotation marks */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url("font/roboto v29-latin-'ext'_latin)-regular.woff?v=1.12") format('woff')
}

body {
    background-image: url("./img/bg.jpg");
    font-family: "Ostrich";
}

#butterfly {
    /* This shouldn't be translated */
    background-image: url("./test/path/monarch-butterfly.jpg");
    width: 300px;
    height: 274px;
    display: block;
}

#octopuss {
    background-image: url('/octopuss.jpg');
    width: 224px;
    height: 224px;
    display: block;
}

#roboto {
    font-family: Roboto
}

