.demo-view {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.demo-nav {
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    padding: 15px;
    margin-bottom: 30px;
    display: block;
}
.demo-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.demo-nav a {
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    color: var(--primary-color, #00B4F0);
    font-size: 14px;
    line-height: 1.5;
}
.demo-nav a[active] {
    color: var(--secondary-color, #000);
}
.demo-nav li {
    padding: 0 24px 0 0;
}
