// Import global variables
@import "shared/variables";


// Import all utility mixins and functions
@import "util/bourbon/bourbon";
@import "util/lists";
@import "util/css3";
@import "util/color";
@import "util/anim";
@import "util/gradient";
@import "util/bevel-and-shadow";
@import "util/util";


// Import global mixins
@import "shared/global";


// Import component specific mixins
@import "components/all";


// Include global styles directly, without a theme name prefix (this is done only once)
@include valo-global;


/**
 * The main Valo theme mixin, which outputs all the selectors and properties to produce 
 * the variation specified by global variables. Should not be included multiple times 
 * per compilation.
 */
@mixin valo {
  @include valo-common;
  @include valo-components;
}
