<!-- Using an absolute URL is a bad practice, but the nesting depth here makes it incovenient traverse up with ../.. -->
<link rel="import" href="/frontend/bower_components/polymer/polymer-element.html">

<dom-module id="frontend-protocol">
  <template>
    <div id="frontend-protocol-div">File loaded from property-defined path</div>
  </template>
  <script>
    class FrontendProtocol extends Polymer.Element {
      static get is() { return 'frontend-protocol' }
    }
    customElements.define(FrontendProtocol.is, FrontendProtocol);
  </script>
</dom-module>
