paper-progress.blue {
    --paper-progress-active-color: var(--paper-light-blue-500);
    --paper-progress-secondary-color: var(--paper-light-blue-100);
}
paper-progress.red {
    --paper-progress-active-color: var(--paper-red-500);
    --paper-progress-secondary-color: var(--paper-red-100);
}
paper-progress.slow {
    --paper-progress-indeterminate-cycle-duration: 5s;
}
paper-progress {
    display: block;
    width: 100%;
    margin: 20px 0;
}
