@import 'nested/sun.css';
#sub-component {
  background: url('../icons/archive.png') left top;
  width: 10px;
  height: 10px;
  display: block;
}

.icon-keyboard {
  background-image: url('../fortawesome/icons/keyboard.svg');
}
